#firstsection {
  background-color: #c74900;
  color: white;
  padding: 10px;
  /* max-width: 60vh; */
}

h1 {
  color: white;
}

#secondsection {
  background-image: url(/Billeder_til_andre_sider/vinyl_svg.svg);
}

@media only screen and (min-width: 1000px) {
  .kasse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #firstsection {
    grid-column: 2/3;
  }
}
