img {
  display: block;
  width: 100%;
  
}




h1 {
  font-family: 'Playfair Display', serif;
  font size: 2.1875rem;
  color: #c74900; 

}

h2 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.75rem;
}

h3 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.4375;
}

p {
  font-family: "Trirong", serif;
  font-size: 1rem;
}
