h1 {
  font-family: 'Playfair Display', serif;
  font size: 2.1875rem;
  color: #c74900;
  
  

}



h2 {
  font-family: "Signika Negative", sans-serif;
}

h3 {
  font-family: "Signika Negative", sans-serif;
}

p {
  font-family: "Trirong", serif;







