* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.1875rem;
}

h2 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.75rem;
  color: #000;
  margin-bottom: .5rem;
}

h3 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.4375;
  color: #c74900;
}

p {
  font-family: "Trirong", serif;
  font-size: .8rem;
}

nav,
nav p,
header ul,
#second_nav ul {
  font-family: 'Playfair Display', serif;
  font-size: .8rem;
}


/* Navigation */

header,
#second_nav {
  padding: 1rem;
  background-color: #fb8c4b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

@media only screen and (min-width: 480px) {

  header,
  #second_nav {
    justify-content: space-between;
  }

}

.logo {
  width: 2rem;
  height: auto;
}

nav ul,
header ul,
#second_nav ul {
  display: flex;
  list-style: none;
}

nav ul li,
header ul li,
#second_nav ul li {
  cursor: pointer;
  margin: 0 1rem;
  color: #000;
}

nav ul li a,
#second_nav ul li a,
nav ul span {
  color: #000;
  text-decoration: none;
}

nav ul li a:hover,
header ul li:hover,
#second_nav ul li:hover {
  color: #7a2D00;
}

/* Footer */
footer {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}

a,
li,
span {
  position: relative;
  padding: .2rem;
}

a:after,
li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #7a2D00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after,
li:hover:after {
  width: 100%;
  left: 0;
}