* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

/* Overordnet GRID til side */
#grid_container {
  display: grid;
  grid-template-areas:
    "header gallery"
    "header footer";
  grid-template-columns: 1fr 8fr;
  height: 100vh;
}

header {
  grid-area: header;
  padding: 1rem;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

main {
  grid-area: gallery;
}

footer {
  grid-area: footer;
  padding: 1rem;
  background-color: lightgreen;
}

/* Galleri GRID */
#gallery {
  --auto-grid-min-size: 22rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
  padding: 1rem;
}

.gallery_item {
  background-color: firebrick;
  padding: 5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
}

/* Navigation */
nav {
  margin-bottom: 2rem;
  align-self: center;
}

nav ul {
  list-style: none;
}

header > .logo {
  align-self: center;
  padding-top: 1rem;
}

header > #hamburger {
  display: block;
  align-self: center;
  margin: 2rem 0;
}

header > .om_os {
  align-self: center;
}
