* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Overordnet GRID til side */
#grid_container {
  display: grid;
  grid-template-areas:
    "header gallery"
    "header footer";
  height: 100vh;
}

header {
  grid-area: header;
  padding: 1rem;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

main {
  grid-area: gallery;
}

footer {
  grid-area: footer;
  padding: 1rem;
  background-color: lightgreen;
}

/* Galleri GRID */
#gallery {
  --auto-grid-min-size: 18rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
}

#gallery > #artist {
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
}

/* Navigation */
nav {
  margin-bottom: 2rem;
  align-self: center;
}

nav ul {
  list-style: none;
}

header > .logo {
  align-self: center;
  padding-top: 1rem;
  max-width: 5rem;
}

header > #hamburger {
  display: block;
  align-self: center;
  margin: 2rem 0;
}

header > .om_os {
  align-self: center;
}
