#main_om_os {
  max-width: none;
  padding: 0;
  margin: 0;
}

h1 {
  color: #fc8c4c;
}

#section_one_about {
  padding: 1rem;
  align-items: center;
}

#section_two_about {
  background-color: rgba(252, 140, 76, 0.8);
  justify-content: center;
}

#section_two_about figure {
  justify-content: center;
  text-align: center;
}

#section_two_about h2 {
  font-size: 1rem;
  padding: 0.3rem;
  color: black;
}

.circular--portrait {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.circular--portrait img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

@media (min-width: 425px) {
  #section_one_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
  #section_two_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
}

@media (min-width: 675px) {
  #section_two_about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
}
