/* colors 
#7a2D00
#fb8c4b
#fa5b00
#7a4425
#c74900
*/

/* Overordnet GRID til side */
#grid_container {
  display: grid;
  grid-template-areas:
    "header"
    "gallery"
    "footer";
  height: 100vh;
  overflow-x: hidden;
}

header {
  grid-area: header;
  padding: 1rem;
  background-color: #fb8c4b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-area: gallery;
}

footer {
  grid-area: footer;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

/* Galleri GRID */
#gallery {
  --auto-grid-min-size: 24rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(var(--auto-grid-min-size), 1fr));
  background-color: #000;
}

#artist {
  display: grid;
  place-items: center;
  place-content: center;
  overflow: hidden;
  cursor: pointer;
}

#artist .navn,
#artist .billede,
#artist .genre {
  grid-area: 1/1;
  color: #fff;
}

#artist .genre {
  margin-top: 3rem;
}

#artist .billede {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

#artist .billede:hover {
  filter: grayscale(0%);
}

#artist .navn,
#artist .genre {
  z-index: 110;
}

#artist .overlay {
  grid-area: 1/1;
  background-color: #7a44255d;
  width: 100%;
  height: 100%;
}

/* Navigation */

.logo {
  width: 2rem;
  height: auto;
}

#hamburger {
  width: 32px;
  height: auto;
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  cursor: pointer;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}